.container {
    height: 80vh;
    width: 100%;
    margin-top: 20px;

    &__icon {
        display: flex;
        width: 150px;
        margin: 0 auto;
    }

    &__title {
        display: flex;
        justify-content: center;
        display: flex;
        gap: 20px;
        align-items: center;
        align-self: flex-start;
        text-align: center;

        img {
            cursor: pointer;
            height: 45px;
        }
    }

    &__text {
        padding: 15px;
        font-size: large;
        display: flex;
        list-style: none;
        justify-content: center;
        text-align: center;
        gap: 30px;
        flex-wrap: wrap;

        &__description {
            width: 65%;
        }

    }
}

.history {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: larger;
    text-align: center;
    flex-wrap: wrap;

    &__stack {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__list {
        list-style: none;
    }
}
