.container {
    min-height: 80vh;
    width: 100%;
    margin-top: 20px;

    &__title {
        display: flex;
        justify-content: center;
        display: flex;
        gap: 20px;
        align-items: center;
        align-self: flex-start;
        text-align: center;

        img {
            cursor: pointer;
            height: 45px;
            transition: .2s;

            &:hover {
                filter: saturate(2) drop-shadow(5px 5px 3px black);
            }
        }

        @media(max-width:500px) {
            flex-direction: column;
        }
    }

    &__text {
        padding: 15px;
        font-size: large;
        display: flex;
        list-style: none;
        justify-content: center;
        text-align: center;
        gap: 30px;
        flex-wrap: wrap;

        &__description {
            width: 65%;
        }

        &__path {
            @media(max-width:500px) {
                width: 100vw;
                overflow-wrap: break-word;
            }
        }

    }
}

.history {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: larger;
    text-align: center;
    flex-wrap: wrap;

    &__stack {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__list {
        list-style: none;
    }
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    margin: 0 auto;

    &__images {
        cursor: pointer;
        height: 55px;
        transition: .2s;

        &:hover {
            filter: saturate(2) drop-shadow(5px 5px 3px black);
        }
    }

    &__icon {
        width: 150px;
        filter: drop-shadow(10px 10px 9px black);
    }
}