$primary: #053B50;
$secondary: #176B87;
$texto_secundario: #7C7C7C;
$backgrounds: #e8e7e7;

$mobile:600px;
$tablet: 830px;
$desktop: 1440px;

.container {
    background-color: $backgrounds;
    list-style-type: none;
    height: 60vh;
    width: 35vw;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 10;

    @media(max-width: $tablet) {
        width: 60vw;
    }

    @media(max-width: $mobile) {
        width: 100vw;
        height: 100vh;
        left: 0;
        right: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: $secondary;
        color: white;
        height: 5vh;
        text-wrap: wrap;

        li {
            font-size: calc(12px + 1vmin);
        }

        &__close {
            cursor: pointer;
            transition: .5s;

            &:hover {
                color: $texto_secundario;
            }
        }
    }

    &__chat {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: auto;
        width: 100%;
        height: 79%;
        padding: 20px;
        color: white;
        gap: 10px;

        @media(max-width: $mobile) {
            height: 85%;
        }
    }

}

.enviada {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    width: fit-content;
    word-wrap: break-word;
    max-width: 70%;
    background-color: $primary;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid black;
}

.recebida {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    word-wrap: break-word;
    width: fit-content;
    background-color: $secondary;
    max-width: 80%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid black;
}

.input {
    width: 85%;
    background-color: white;
}

.sendMessage {
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;
    flex-direction: row;
    gap: 10px;
    position: absolute;
}

.send {
    color: $secondary;
    transition: .5s;
    cursor: pointer;

    &:hover {
        color: $primary
    }
}