.container {
    background-color: #33475B;
    text-align: center;
    padding: 30px 30px 10px 30px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    @media(max-width:550px) {
        flex-direction: column;
        gap: 20px;
    }

    &__button,
    p,
    li,
    a {
        border: none;
        text-decoration: none;
        background-color: transparent;
        margin: 0;
        color: white;
        font-size: calc(6px + 2vmin);
    }

    &__button {
        font-size: calc(12px + 2vmin);
        font-weight: bold;
    }

    &__logotipo {
        height: calc(30px + 10vmin);
    }

    &__dev {
        display: flex;
        flex-direction: column;
    }
}